.card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    transition: all .5s ;
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0 ;
}

.card-title {
    text-align: center;
    height: 50px;
    margin: 0 5px;
}

.card-details {
    height: 50px;
    background-color: #fff;
    transition: all .5s ;
    border-radius: 0 0 10px 10px;
}

.card:hover .card-details {
    height: 130px;
    box-shadow: 0 0 30px 0px rgba(0,0,0,0.04) ;
}

.card:hover {
    overflow: visible;
    z-index: 1;
    transform: scaleX(1.1);
    box-shadow: 0 10px 60px 10px rgba(0,0,0,0.4) ;
}

.card-rank {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(255, 71, 246);
}